<div class="container text-center" style="height: 100%;" *ngIf="!showUserManagement">
    <div class="row justify-content-center align-items-center p-4 g-4">
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div  (click)="directToPage('projects/todo')" class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect dd" >
                    <h4>ToDO List</h4>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">                
                <div (click)="showUserManagementPage()" class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect dd" >
                    <h4>User Management</h4>
                </div>
            </div>
        </div><div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect dd" >
                    <h4>Upcoming</h4>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect dd" >
                    <h4>Upcoming</h4>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect dd" >
                    <h4>Upcoming</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center" *ngIf="showUserManagement">
    <h2>User Management</h2>
    <div class="row justify-content-center">
        <div class="col-12 p-4">
            <button (click)="directToPage('projects/user-list')" class="btn btn-primary" >View Existing User</button>
        </div>
        <div class="col-12 p-4">
            <button (click)="directToPage('projects/user-create')" class="btn btn-success" >Create New User</button>
        </div>
    </div>
</div>
