<div class="container text-center" style="height: 100%;">
    <div class="row justify-content-center align-items-center h-100 p-4 g-4">
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border p-2">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 ">
                    <h1>F</h1>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border p-2">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 ">
                    <h1>F</h1>
                </div>
            </div>
        </div><div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border p-2">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 ">
                    <h1>F</h1>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border p-2">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 ">
                    <h1>F</h1>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border p-2">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 ">
                    <h1>F</h1>
                </div>
            </div>
        </div>
        
    </div>
</div>
