<div class="container text-center" style="height: 100%;">
    <div class="row justify-content-center align-items-center p-4 g-4">
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect" >
                    <h3>ToDO List</h3>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">                
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect" >
                    <h3>ToDO List</h3>
                </div>
            </div>
        </div><div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect" >
                    <h3>ToDO List</h3>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect" >
                    <h3>ToDO List</h3>
                </div>
            </div>
        </div>
        <div class="col-4 p-2">
            <div class="justify-content-center align-items-center border border-warning border bg-warning border_effect_out">
                <div class="justify-content-center align-items-center border border-warning border p-2 m-4 bg-secondary border_effect" >
                    <h3>ToDO List</h3>
                </div>
            </div>
        </div>
    </div>
</div>
