<div class="container text-center" >
    <div class="row justify-content-center align-items-center h-70 p-4">
        <div class="col-4">
            <div class="row image-container px-1 m-3 d-flex justify-content-center align-items-center">
                    <img src="assets/images/python.png" alt="External Image" class="img-fluid image_div_small" />
            </div>
        </div>
        <div class="col-4">
            <div class="image-container p-1 mx-3 d-flex justify-content-center align-items-center">
                <img src="assets/images/Angular.png" alt="External Image" class="img-fluid image_div_large" />
            </div>
        </div>
        <div class="col-4">
            <div class="image-container p-1 mx-3 d-flex justify-content-center align-items-center">
                <img src="assets/images/oracle.png" alt="External Image" class="img-fluid image_div_large" />
            </div>
        </div>
        <div class="col-4">
            <div class="image-container p-1 mx-3 d-flex justify-content-center align-items-center">
                <img src="assets/images/Dj.png" alt="External Image" class="img-fluid image_div_small" />
            </div>
        </div>
        <div class="col-4">
            <div class="image-container p-1 mx-3 d-flex justify-content-center align-items-center">
                <img src="assets/images/Mongo.png" alt="External Image" class="img-fluid image_div_large" />
            </div>
        </div>
    </div>
</div>
